//creacion de varibles
//$primary-color:#a02296 ;
$primary-color:#28ceda ;

body{
    color: red;
}

header{
 background-color: black;
   }

  nav{
    display: block;
   }     

   nav ul{
        display:flex;
        justify-content: space-around;
         li{
            text-decoration: underline;
            color:$primary-color;   
            &:hover{
               cursor:pointer;
               background-color: gray;
            }
          }
       } 

div{
    color:$primary-color;
}





