main{
    width: 60%;
    clear: both;
    padding: 3%;
    margin-right:auto;
}

span{
    color: red;
}

#info{
    width: 70%;   
    border: 1px solid #f3f5f6;
    border-collapse: collapse;

}

.titulo{
    background-color: #f3f5f6    ;
  
}

.in{
    text-align:left;
}

th ,td {
    border: 1px solid #f3f5f6;
    height: 100%;
}