body{
    margin:0; 
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: black;
}
main{
    display: flex;
    flex-direction: column;   
}

.img {
    max-width: 100%;
    height: auto;
  }

header{
    background-image: url("images/MX-es-20210719.jpg");
    background-color: rgb(0, 0, 0);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
	border-bottom: 8px solid#222;  
    max-width: 100%;
    height: auto;
    
}
header:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

header,nav,.titulo-prin  {
    padding: 40px;
    position: relative;
}

article{
    border-bottom: 8px solid#222;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
 }
 .logo{
    flex-grow: 13;
 }
 .idioma{
    flex-grow: 1;
 } 
 .idiom{
    align-items:    center;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    font-size: .875rem;
    border-radius:    2px;
    border-style:    solid;
    border-width:    1px;
    color:    #ffffff;
    display:    inline-block;
    line-height:    18.2px;
    padding:    8px 22px;
 }
.bot-nav
 {
    background-color:    #e50914;
    border-radius:    3px;
    border: none;
    color:    #ffffff;
    padding:    7px 17px;
 }
 .bot-nav a{
    text-align: center;
    text-decoration: none;
    color:    #ffffff;
    font-size:16px;
 } 
 .titulo-prin{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;          
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
 }
 .flexitem-nav-tit{
   color: #FFFFFF;
 }
 .flexitem-nav-tit>.title{
    max-width: 640px;
    margin: 0 auto;
    text-align:center;    
  }
 h1 {     
    font-size: 50px;
  }
 .subtitle{
    max-width: 640px
  }
 h2 {
    font-size: 26px;
  }
h3{
    font-size: 19.2px;
  }
.email{
    display: flex;
    justify-content: space-between;
  }
  .email_input{
    height: 70px;
    width: 550px;
}
  .btn-red
 {
    padding-top: 5px;
    background-color: #f40612 ; 
    border: none;   
    height: 75px;
    width: 185px;
 }
 .btn-red a{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
 }
 .content{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #FFFFFF;
    
 }

 .flex-content.info{
    display: flex;
    flex-direction: column;        
    width: 35%;
}
.flex-content.info>.title {     
    font-size: 50px;
    font-weight: bold;
    text-align: left;
  }
 .flex-content.info>.subtitle {   
    padding-top: 10px;  
    font-size: 26px;
    font-weight: bold;
 }
 .flex-content.img> {   
    width: 35%;
 }

 .preguntas{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;    
}
.preguntas>.title {     
    font-size: 50px;
    font-weight: bold;
    text-align: left;
  }
.list{
    width:100%;
    
}


.list ul li{
    margin: 3px 0;
    border:none;
    background-color:#303030;
    color:#000;  
    padding:20.8px 57.2px 20.8px 31.2px;
    
}

.list span{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 26px;
    text-align:left
}

li a{
    text-align: center;
    text-decoration: none;
}


.footer {
    display: flex;
    flex-flow: column;
    color: white;
    background-color: black;   
    justify-content: space-around;
    
    align-content:flex-start;
    padding-top: 40px;
  }

.llamaP{
    padding-top: -40px;
  }
.foot-list{
    display: flex;   
}

.foot-list ul li{
    margin: 3px 0;
    border:none;  
    color:#000;   
}

.foot-list a{
    text-align: center;
    text-decoration: none;
    color: #757575;
    font-size: 13px;
    text-align:left
}






