/*pone las imagenes del mismo tamaño que su contenedor*/
img {
  width: 100%;
}

header{
  display: flex; 
  justify-content: space-between;
  align-items: center;
 
}

.buscar{
  display: flex; 
  justify-content: center;  
  align-items: center;
}
.enlace-hamburguesa {
  margin-left: 5px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  &:hover{
    background-color: #dcdfe0;
  }
}
.logo-buscar {
  display:block;  
}

.logo{
    margin-left: 5px;
 .enlace-logo {
  position: relative;
  &>img{
    width: 50px;
    height: 40px;
    border-radius: 4px;    
  }
  .opacity{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 40px;
    background-color:red;
    &:hover{
      background-color: rgba(46, 45, 45, 0.1);
    }
  }
 }
}


form {
  padding-left:10px;
  min-width: 410px;
  position: relative;
  height: 42px;
  display:none;
}

form .svg-lupa {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .svg-lupa:hover {
  background-color: #dcdfe0;
}

form .svg-lupa svg {
  fill: #4d5760;
}

form input {
  background-color: #eef0f1;
          box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #b5bdc4;
        &:focus{
     border: 1px solid #3b49df;
         outline: 0 none;
         box-shadow: 1px  1px #3b49df;
        }
}

.navegacion{       
   ul{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    list-style: none;
    
    li {
      padding-right: 10px;
    }
   }
   .button{
    display:none;    
   }
   .round {
       height: 35px;
       width: 35px;
       border-radius: 35px;
    &:hover{
      background-color: #dcdfe0;
    }   
    &>svg{
      fill: #4d5760;
    }
    &:last-of-type{
      img{
        border-radius: 50%;
        &:hover{
          border: 1px solid white;  
       }
      }
    }
  }
}

@media (min-width: 768px) {
   .enlace-hamburguesa {
    display: none;
  }

  form {
    min-width: 395px;
    position: relative;
    height: 42px;
    display:block;
  }

  #lupa2 {
    display: none;
  }

  
.navegacion{  

   .button{
    display: block;
    text-decoration: none;  
    background-color: #3b49df;
    border-radius: 5px;
    color: white;
    font-weight: 500px;
    padding: 10px;
    width: 90px;    
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
     &:hover{
      background-color: #2b36ab;
     }       
   }
  }
}


@media (min-width: 1024px) {
  header{
   position: relative;
   left:0px;   
  }
  ul{
  padding-left: 300px;
  }
}

@media (min-width: 1440px) {
  header{
   position: relative;
   left:-30px;   
  }
  ul{
    padding-left: 490px;
    }
}