.post {
  @include center-item();
  //margin: 5px;
  background-color: #FFF;
  border: 1px solid lightgray;  
  flex-direction: column;
   border-radius: 5px;
  margin-bottom: 10px;
}
.card{
   width: 100%;
  .card-prin{
   img{ width: 100%;}
  }  
}
.infoUser{
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
  .avatar{
    img{
      width: 45px;
    }
   }
 }

.datos{
  padding-left: 5px;
  .nombre{
    font-weight: bold;
    font-size: 14px;
    color: $nombreCard;
  }
  .date{
    font-size: 12px;
    color: $DateCard;
  }
}

.title{
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: $titleCard;
}

.marks{
   display: flex;
   justify-content: flex-start;
   margin: 8px;
   padding-left: 4px;
   .flex-mark{
     margin-right: 5px;
     font-size:14px ;
     color:$DateCard;
     span{
       border-radius: 5px;
       padding: 4px;
       background-color: #091B47;
       color:#B2FFE1;
     }
   }
}
.reactions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  &>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    .heart{
      display: flex;
      align-items: center;
      padding: 4px 12px 4px 8px;
      &>div{
        margin-right: 2px;
       span{
        display:none;
       }
      }
    }
    .coments{
      display: flex;
      align-items: center;
      &>div{
        margin-right: 2px; 
      span{
      display:none;
      }
     }
    }
    .min{
      font-size: 11.2px;
      color: $DateCard;
      margin-right: 10px;
    }
    .save{
      .btn-save{
      padding: 4px 12px;
      background-color: gainsboro;
      color: #363D44;
      font-size: 14px;
      border-radius: 5px;
      border:none;
      margin-right: 10px;
   }
  }
 }
}

.comm-ents{
  background-color: #eef0f1; ;
  border-radius: 10px;
  margin:0px 10px 0px 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  .avatar{
    padding-left: 10px;
    img{
      width: 25px;
    }
   }
   .info{
     display:flex;
     justify-content: flex-start;
     .date{
       margin-left: 5px;  
       font-size: 12px;
       color: $DateCard;
     }
   }
}
