#contenedor{
   background-color: yellow;
    width:500px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{    
    display: flex;
    height: 38%;
    align-items: stretch;
   
} 

.flex-item {
   background-color: #0067a2;
   flex-grow:3 ;
  }

.item-center{
   background-color: yellow;
   flex-grow:1 ;
  }

.item-right{
  background-color: #0067a2;
  flex-grow:4 ;
}

/*
  .caja2{
    position: relative;
    display: flex;
    flex-direction: row;    
    align-items: center;
    top: -153px;
} 

.flex-item2 {
    background-color: yellow;
    color: yellow;
    text-align: center;
    line-height: 50px;
    width: 170px;        
  }

*/